body,
html {
  width: 100%;
  height: 100%;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
select,
p,
blockquote,
th,
td,
footer,
nav {
  box-sizing: border-box;
  cursor: default;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
body {
  /* background-color: #000; */
  color: #fff;
}
.content > div {
  display: none;
}
